 <div class="ui borderless main menu">
    <div class="ui text container">
      <div class="header item">
       HHS Admin
      </div>
      <div class="right">
      <a href="/" class="item">Home</a>
      <a href="/users" class="item">Users</a>
      <a href="/users/new" class="item">Add Users</a>
      </div>
    </div>
  </div>