<h2>Edit user</h2>
<form action="/users/<%= user.id %>?_method=PUT" method="POST">
<%- include('_form_fields')%>
<a href="/users/<%- user.id%>">Cancel</a>
<button type= "submit">Update</button>
</form>